html {
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    position: sticky;
    top: 0px;
    padding: 10px 20px;
    text-align: center;
    border-bottom: 1px solid #000;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 20px;
    font-weight: 600;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #57391e;
    background-color: #fbf7ef;
    letter-spacing: 0.05rem;
    text-align: center;
    height:100%;
}

footer {
    position: absolute;
    bottom: 0;
}

/* Specific selectors */
.intro-text {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 49%;
}

h2 {
    font-weight: 100;
    font-size: 30px;
    line-height: 2.5rem;
}

/* Social media icon selectors*/
.social-media-list {
    list-style: none;
}
.social-media-list li {
    display: inline-block;
    margin-right: 1em;
    font-size: 180%;
}

.social-media-list li a {
    color: #888;
    transition: color 0.5s;
}

.social-media-list li a:hover {
    color: #3b5998
}
