html, body {
    margin: 0;
    padding: 0;
}

header {
    position: absolute;
    top: 0px;
    right: 10px;
    padding: 10px 20px;
    text-align: center;
    z-index: 1;
}

ol.horizontal-list {
    list-style-type: decimal-leading-zero;
    right: 150px;
}

ol.horizontal-list li {
    float: left;
    width: 50px;
    margin: 0px 30px;
}

footer {
    position: absolute;
    bottom: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #57391e;
    background-color: #fbf7ef;
    letter-spacing: 0.05rem;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

main section {
    flex-basis: 100vh;
    overflow: auto;
}


.about {
    width: 100%;
    background-color: #F1E3C6;
}
.self-intro-wrapper {
    position: relative;
    top: 200px;
    left: 125px;
    width: 750px;
}

h1 {
    font-size: 20px;
    font-weight: 600;
}

h2 {
    font-weight: 100;
    font-size: 30px;
    line-height: 2.5rem;
}
