html {
    box-sizing: border-box;
    width: 100%;
}

* {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #57391e;
    background-color: #fbf7ef;
    letter-spacing: 0.05rem;
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 30px;
    right: 10px;
    padding: 10px 20px;
    text-align: center;
    z-index: 1;
}

ol.horizontal-list {
    list-style-type: decimal-leading-zero;
    right: 150px;
}

ol.horizontal-list li {
    float: left;
    width: 50px;
    margin: 0px 30px;
    color: #4774d2;
}

h1 {
    font-weight: 200;
    font-size: 3em;
}

a {
    text-decoration: none;
    color: #57391e;
    transition: color 0.25s;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

a:hover {
    color: #4774d2;
}

main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0 150px;
    width: 100%;
}

main section {
    overflow: hidden;
    margin: 0 auto;
    
}

.flex-container {
    display: flex;
}

.intro-section{
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 65em;
    min-height: 100vh;
    padding: 150px 0;
}

.name {
    font-weight: 600;
}

.intro-section h2 {
    font-weight: 200;
    line-height: 1.5em;
    font-size: 2.75em;
    padding: 50px 0;
}

.email-link {
    cursor: pointer;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 200;
    font-size: 1.75em;
    color: #57391e;
    background-color: #F1E3C6;
    transition: 0.25s;
}

.email-link:hover {
    color: #fbf7ef;
    background-color: #9DB5E7;
}

.about-section {
    justify-content: space-between;
    align-items: center;
    align-content: center;
    max-width: 90em;
}

.about-image {
    flex: 1;
    margin-right: 2em;
    max-width: 350px;
    max-height: 350px;
    border-radius: 100%;
}

.about-text {
    flex: 1;
    margin-left: 2em;
    line-height: 1.5rem;
    background-color: #F1E3C6;
    padding: 0 20px 10px;
    border-radius: 10px;
}

.about-text h2 {
    color: #880e17;
    font-weight: 400;
    font-size: 2.5em;
    line-height: 2;
    display: flex;
    align-items: center;
}

.about-text h2::after {
    content: '';
    flex: 1;
    height: 2px;
    margin: auto 10px;
    background-color: #aaa;
}

.about-text p {
    font-weight: 400;
    padding: 0 0 1em;
}

.about-text ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    margin: 5px 40px;
}

footer {
    text-align: center;
    padding: 30px 0;
}


/* Breakpoint into standard screen size */
@media only screen and (max-width: 100em) {

    .about-section {
        max-width: 70em;
    }

    .about-image {
        margin-right: 1em;
    }

    .about-text {
        margin-left: 1em;
    }
}

/* Breakpoint into tablet screen size */
@media only screen and (max-width: 62em) {
    main {
        padding: 0 100px;
    }

    .intro-section {
        font-size: 0.8rem;
    }

    .about-section {
        padding: 0;
        flex-direction: column-reverse;
        justify-content: space-between;
        margin: 0 auto;
        background-color: #F1E3C6;
        border-radius: 10px;
    }

    .about-image {
        margin: 40px auto;
        flex: 0;
    }
    .about-text {
        margin: 0;
        background-color: transparent;
        padding: 0 20px;
    }
}

/* Breakpoint into smartphone screen size */
@media only screen and (max-width: 43em) {
    main {
        padding: 0 30px;
    }

    .intro-section {
        font-size: 0.6rem;
    }

    .intro-section h2 {
        padding: 25px 0;
    }

    .about-image {
        width: 200px;
    }

}