
/* Social media icon selectors*/
.social-media-list {
    list-style: none;
    margin: 0;
}

.social-media-list li {
    font-size: 150%;
    margin: 25px auto;
    transition: 0.25s;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.social-media-list li a {
    color: #888;
    text-align: center;
    height: 30px;
    width: 30px;
    transition: 0.25s;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.social-media-list li:hover {
    transform: translateY(-3px);
}

.social-media-list li a:hover {
    color: #4B78D2;
}

.social-media-list::after {
    content: "";
    display: block;
    width: 2px;
    height: 100px;
    margin: 0 auto;
    background-color: #888;
    bottom: 0;
}